
@{
    ViewBag.Title = "Countdown";
}
<h2>Event begins in</h2>

<div id="clock">

</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.countdown.min.js")" type="text/javascript"></script>

    <script>
        $("#clock")
           .countdown('2015/12/09 20:54:00', function (event) {
               $(this).text(
                 event.strftime('%D days %H:%M:%S')
           );
           });
    </script>
}
